.header-container{
  height: 56px;
  padding: 0;
  margin: 0 0 2% 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(4, 22, 97);
  color: rgb(255, 255, 255);
}

.header-logo{
  flex: 1;
  flex-grow: 1;
  align-self: center;
  text-align: start;
  margin-left: 1%;
  font-size: 28px;
}

.header-linha-tempo{
  flex: 1;
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.header-opcoes{
  flex: 1;
  flex-grow: 1;
  align-self: center;
  text-align: right;
  margin-right: 1%;
}

a{
  margin: 0 4px 0 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

a:hover{
  margin: 0 4px 0 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-bottom: 1px;
  /* border-style:solid; */
}
