<div class="sobre-container">
  <div class="container-fluid">
    <div class="row">

      <!-- descrição -->
      <div class="col-12 sobre-descricao">
        <h1>
          Um serviço de que permite salvar os acontecimentos mais marcantes de sua vida em uma linda do tempo colorida
        </h1>
      </div>

      <!-- Card 1 -->
      <div class="col-12 row no-gutters">
        <div class="col-6">
          <div class="sobre-img">
            <!-- Imagens nas fonte original por questão de copyright -->
            <img src="https://i.imgur.com/jIXuBCy.png" alt="">

          </div>
        </div>
        <div class="col-6">
          <div class="sobre-coment">
            <h3>"Adicione Acontecimentos"</h3>
            <p>
              "É muito simples adicionar um acontecimento marcante de usa vida,
               escolha uma cor,digite um nome, uma data e a sua história."
            </p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 row no-gutters">
        <div class="col-6">
          <div class="sobre-img">
            <img src="https://i.imgur.com/cjX9F4C.png" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="sobre-coment">
            <h3>"Diário de Memórias"</h3>
            <p>
              "Após salvar seus acontecimentos, vc poderá acessálo em uma lista
              colorida de acordo com a cor que vc quer representar aquele acontecimento"
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
