<div class="sobre-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 sobre-descricao">
        <h1>
          Um servico de que permite salvar os momentos mais marcantes de sua vida em uma linda do tempo colorida
        </h1>
      </div>
      <div class="col-6 card">
        foto 1
      </div>
      <div class="col-6 card">
        Comentário
      </div>
      <div class="col-6 card">
        foto 2
      </div>
      <div class="col-6 card">
        Descrição
      </div>
    </div>
  </div>
</div>
