<div class="login-container">
  <div class="container-fluid">
    <div class="row">

      <!-- div para centralizar a div pirncipal -->
      <div class="col-2"></div>

      <!-- div principal -->
      <div class="col-8">
        <div class="card">
          <form>
            <div class="form-row">
              <div class="form-group col-12">
                <h1>Login</h1>
              </div>
            </div>
            <div class="form-group col-12">
              <label for="email">Email:</label>
              <input [(ngModel)]="usuario.email" type="text" class="form-control" name="nome" id="email">
            </div>
            <div class="form-group col-12">
              <label for="senha">Senha:</label>
              <input [(ngModel)]="usuario.senha" type="password" class="form-control" name="nome" id="senha">
            </div>
            <div class="form-group col-12">
              <button type="button" name="button" (click)="login()">Login</button>
            </div>
            <div class="form-group col-12">
              <p *ngIf="erroLogin">Erro de Login, Email ou Senha inválidos</p>
            </div>
          </form>
        </div>
      </div>

      <!-- Div necessaria para centralizar a div principal -->
      <div class="col-2"></div>

    </div>
  </div>
</div>
