<div class="conta-container">
  <div class="container-fluid">
    <div class="row">

      <!-- div em branco para centralizar a div principal -->
      <div class="col-2"></div>

      <!-- div principal -->
      <div class="col-8">
        <div class="card">
          <form>
            <div class="form-row">
              <div class="form-group col-12">
                <h1>Conta</h1>
              </div>
            </div>
            <div class="form-group col-12">
              <label for="nome">Nome:</label>
              <input type="text" [(ngModel)]="usuario.nome" value="Digite seu novo Nome" class="form-control" name="nome" id="nome">
            </div>
            <div class="form-group col-12">
              <label for="email">Email:</label>
              <input type="text" [(ngModel)]="usuario.email" value="Digite seu novo email" class="form-control" name="email" id="email">
            </div>
            <section class="example-section">
             <mat-checkbox class="example-margin" [(ngModel)]="mudarSenhaFlag" name="senhaflag">Alterar Senha?</mat-checkbox>
            </section>
            <div *ngIf="mudarSenhaFlag" >
              <div class="form-group col-12">
                <label for="senha">Nova Senha:</label>
                <input type="password" [(ngModel)]="usuario.senha" class="form-control" name="senha" id="senha">
              </div>
              <div class="form-group col-12">
                <label for="senhaconf">Confrime a Senha:</label>
                <input type="password" [(ngModel)]="senhaConf" class="form-control" name="senhaconf" id="senhaconf">
              </div>
            </div>
            <div class="form-group col-12">
              <p *ngIf="!verificaCampos()"> {{erroMenssage}}</p>
              <button *ngIf="verificaCampos()" type="button" name="button" (click)="atualizar()">Atualizar</button>
            </div>
          </form>
        </div>
      </div>

      <!-- div para centralizar a div principal -->
      <div class="col-2"></div>

    </div>
  </div>
</div>
