.conta-container{
  height: 90%;
}

h1{
  text-align: center;
}

button{
  width: 100%;
  background-color: rgb(4, 22, 97);
  color: rgb(255, 255, 255);
  border: 1px;
  border-radius: 1rem;
}

p{
  text-align: center;
  color: rgb(255, 0, 0);
}

section{
  padding-left: 15px;
}
