/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Max height */
body,html{
  height: 100%;
  max-height: 100%;
  background-color: rgb(244, 235, 255);
  margin: 0;
  padding: 0;
}

h1{

}
